@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html {
	font-size: 62.5%;
	overflow-x: hidden;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}
body {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	color: #626262;
	position: relative;
	overflow-x: hidden;
	box-sizing: border-box;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 0rem;
}
.nav-heading {
	font-size: 2rem;
}
.nav-heading a:link,
.nav-heading a:visited {
	text-decoration: none;
	color: #38bdf8;
	text-shadow: 0 1rem 2rem hsla(0, 0%, 60%, 0.3);
}
.nav-list a:link,
.nav-list a:visited {
	display: inline-block;
	text-decoration: none;
	color: #626262;
	font-size: 1.6rem;
	font-weight: 500;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.nav-list a:hover,
.nav-list a:active {
	color: #0284c7;
	font-weight: 500;
}
.nav-items {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;
}
.btn-open {
	border: none;
	display: none;
	background: none;
}

.nav-mobile-btn {
	height: 3rem;
	width: 3rem;
	cursor: pointer;
	border: 2px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.nav-mobile-btn:hover,
.nav-mobile-btn:active {
	background-color: #a7a6a6;
}
.col-white:link,
.col-white:visited {
	color: #fff !important;
}
.nav {
	padding: 1rem;
}
/* todo sticky navigation */
.sticky .nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: hsla(0, 0%, 97%, 0.97);
	z-index: 99;
	padding-top: 0;
	padding-bottom: 0;
	height: 5rem;
	box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .accordian {
	margin-top: 5rem;
}
.main,
.footer {
	max-width: 140rem;
	padding: 4rem 1rem;
}
.accordian {
	width: 100%;
	/* position: relative; */
	background-image: linear-gradient(
			to bottom right,
			rgba(14, 164, 233, 0.8),
			rgba(2, 133, 199, 0.8)
		),
		url(/back-top.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	padding: 5rem 1rem;
	text-align: center;
	color: #fff;
	display: grid;
	place-items: center;
}
.input {
	width: 60%;
	display: flex;
	justify-content: center;
	padding: 1rem;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.03);
	flex-flow: row wrap;
}
.input input {
	flex: 1;
	padding: 1rem;
	font-family: inherit;
	border: none;
}
.input input:focus {
	border: 1px solid #38bdf8;
	outline: none;
}
.input button {
	border: 1px solid #38bdf8;
	padding: 1.2rem;
	font-weight: 600;
	background-color: #38bdf8;
	color: #fff;
	cursor: pointer;
}
.input input::-webkit-input-placeholder {
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 400;
	color: #777;
	text-align: center;
	color: #059105;
}

/* .bg-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	z-index: -1;
	opacity: 0.2;
} */
.accordian .text-accord {
	line-height: 1;
	font-size: 6rem;
}
.accordian h1 + p {
	font-size: 2rem;
	margin-top: 2rem;
}
.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	font-size: 1.4rem;
	place-items: start center;
	border-bottom: 1px solid hsla(0, 0%, 60%, 0.3);
	padding: 5rem 0;
	gap: 4rem 2rem;
	padding-bottom: 8rem;
}

/* .p-top {
	padding-top: 48rem;
} */
.list-items {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 2rem;
}
.items {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 2.6rem;
}
.items ion-icon[name="star"] {
	--ionicon-stroke-width: 2rem;
	font-size: 2rem;
	color: #1ac6ff;
}
.item-heading {
	margin-bottom: 2.4rem;
	margin-left: 2rem;
	font-size: 2rem;
	font-weight: 200;
}
.text {
	line-height: 1.7;
	font-size: 1.6rem;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.long-text {
	margin-bottom: 2rem;
}
.primary-heading {
	font-size: 3rem;
	line-height: 1;
}
.light-blue {
	color: #1ac6ff;
}
.image img {
	display: inline-block;
	width: 30rem;
	justify-self: end;
}
.features {
	width: 100%;
	background-color: #f7f7f7;
	text-align: center;
	padding: 5rem 1rem 25rem;
}
.feature-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.feature-text p:nth-child(2) {
	font-weight: 500;
}
.features p {
	font-size: 1.6rem;
}
.features .btns {
	padding: 2.2rem 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.btn-flex:link,
.btn-flex:visited {
	display: inline-block;
	text-decoration: none;
	font-size: 1.4rem;
	padding: 1.2rem 2.4rem;
	background-color: #1ac6ff;
	outline: none;
	border: none;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn-flex:hover,
.btn-flex:active {
	background-color: #38bdf8;
}

.footer {
	width: 100%;
	background-color: #000;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 2rem;
	place-items: start;
	border-bottom: 1px solid hsla(0, 0%, 60%, 0.3);
}
.footer-heading {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 2rem;
}
.footer-lists {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.5rem;
}
.foot-list a:link,
.copy-write p + p a:link,
.copy-write p + p a:visited,
.foot-list a:visited {
	display: inline-block;
	text-decoration: none;
	color: #a7a6a6;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.foot-list a:hover,
.copy-write p + p a:hover,
.copy-write p + p a:active,
.foot-list a:active {
	color: #1ac6ff;
}
.icons {
	margin-top: 2rem;
}
.icon-lists {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.4rem;
}
.list a ion-icon {
	color: #a7a6a6;
	border: 1px solid #626262;
	width: 1.5rem;
	height: 1.5rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	padding: 0.8rem;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.list ion-icon:hover,
.list ion-icon:active {
	background-color: #1ac6ff;
	color: #fff;
}
.copy-write {
	padding: 2rem 1rem 4rem;
	background-color: #000;
	background-size: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	gap: 0.6rem;
	color: #a7a6a6;
	font-size: 1.6rem;
}
/* todo Media queries */
@media (max-width: 46em) {
	.btn-open {
		display: block;
		z-index: 999;
	}

	.nav-items {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		padding: 1rem 0;
		background-color: hsla(0, 0%, 97%, 0.97);
		flex-direction: column;
		gap: 5rem;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-ms-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
	}
	.nav-list a:link,
	.nav-list a:visited {
		font-weight: 600;
		font-size: 2rem;
	}
	.nav.nav-open .nav-items {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
